In [1]:
#!pip3 install googletrans==3.1.0a0

import os
import pandas as pd
import nltk
nltk.download('punkt')
from nltk.corpus import stopwords
nltk.download('stopwords')
from nltk.stem.porter import PorterStemmer
import numpy as np
from autocorrect import Speller
from googletrans import Translator, constants
from matplotlib import pyplot as plt
import re
from nltk.corpus import stopwords
from nltk import pos_tag
nltk.download('stopwords')
nltk.download('wordnet')
from nltk.corpus import wordnet
nltk.download('averaged_perceptron_tagger')
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_selection import chi2
from sklearn.feature_selection import SelectKBest
import numpy as geek
import researchpy as rp
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import roc_auc_score
from sklearn.preprocessing import OneHotEncoder
from itertools import cycle
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB, BernoulliNB, MultinomialNB
from sklearn import metrics
from sklearn.metrics import classification_report,confusion_matrix,roc_curve,auc
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import NearMiss
from textblob import TextBlob
import seaborn as sns
from nltk.stem import WordNetLemmatizer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk import word_tokenize

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Vahid\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Vahid\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Vahid\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Vahid\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Vahid\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [2]:
text = """This reativly new temple's a big hindu version of Disney Land.... Quite expensive entrance for a temple. I accept the religious dress code so i was not alowed to enter in shorts. I had to rent an Indian lunghi, male long dress. The guards was not polite, almost unfriendly. One lady guard was about to destroy my expensive camera wich i had to leave outside. Inside the temple it was to follow the marked way. Somwhere you was blessed by some holy man. But everywhere there was stands with different things for sale. Worst was the way out with an enormous market with holy souvenirs of different quality, most kitscy plastic things" made in China". The holy experience i had looked forward to have dissapeared in a commercial thing. All they wanted was my money."""
text

'This reativly new temple\'s a big hindu version of Disney Land.... Quite expensive entrance for a temple. I accept the religious dress code so i was not alowed to enter in shorts. I had to rent an Indian lunghi, male long dress. The guards was not polite, almost unfriendly. One lady guard was about to destroy my expensive camera wich i had to leave outside. Inside the temple it was to follow the marked way. Somwhere you was blessed by some holy man. But everywhere there was stands with different things for sale. Worst was the way out with an enormous market with holy souvenirs of different quality, most kitscy plastic things" made in China". The holy experience i had looked forward to have dissapeared in a commercial thing. All they wanted was my money.'

# Contraction Replacement

In [3]:
#dictionary consisting of the contraction and the actual value
Apos_dict={"'s":" is","n't":" not","'m":" am","'ll":" will",
           "'d":" would","'ve":" have","'re":" are"}

for key,value in Apos_dict.items():
    if key in text:
        print(key)
        text=text.replace(key,value)
text

's

'This reativly new temple is a big hindu version of Disney Land.... Quite expensive entrance for a temple. I accept the religious dress code so i was not alowed to enter in shorts. I had to rent an Indian lunghi, male long dress. The guards was not polite, almost unfriendly. One lady guard was about to destroy my expensive camera wich i had to leave outside. Inside the temple it was to follow the marked way. Somwhere you was blessed by some holy man. But everywhere there was stands with different things for sale. Worst was the way out with an enormous market with holy souvenirs of different quality, most kitscy plastic things" made in China". The holy experience i had looked forward to have dissapeared in a commercial thing. All they wanted was my money.'

In [4]:
#Adding into contraction dictionary
Apos_dict['nt'] = 'not'
Apos_dict

{"'s": ' is',
 "n't": ' not',
 "'m": ' am',
 "'ll": ' will',
 "'d": ' would',
 "'ve": ' have',
 "'re": ' are',
 'nt': 'not'}

# Remove everything than word

In [5]:
text = re.sub('[^A-Za-z]+', ' ', text) 
text

'This reativly new temple is a big hindu version of Disney Land Quite expensive entrance for a temple I accept the religious dress code so i was not alowed to enter in shorts I had to rent an Indian lunghi male long dress The guards was not polite almost unfriendly One lady guard was about to destroy my expensive camera wich i had to leave outside Inside the temple it was to follow the marked way Somwhere you was blessed by some holy man But everywhere there was stands with different things for sale Worst was the way out with an enormous market with holy souvenirs of different quality most kitscy plastic things made in China The holy experience i had looked forward to have dissapeared in a commercial thing All they wanted was my money '

# Upper case to the lower case

In [6]:
text = text.lower()
text

'this reativly new temple is a big hindu version of disney land quite expensive entrance for a temple i accept the religious dress code so i was not alowed to enter in shorts i had to rent an indian lunghi male long dress the guards was not polite almost unfriendly one lady guard was about to destroy my expensive camera wich i had to leave outside inside the temple it was to follow the marked way somwhere you was blessed by some holy man but everywhere there was stands with different things for sale worst was the way out with an enormous market with holy souvenirs of different quality most kitscy plastic things made in china the holy experience i had looked forward to have dissapeared in a commercial thing all they wanted was my money '

# Slang Corrector

In [7]:
path = "C:\\Users\\Vahid\\OneDrive - University of Toronto\\MMA - 2022 -\\Jupyter files\\Data\\"
#open the file slang.txt
file=open(path+"slang.txt","r")
slang=file.read()
#separating each line present in the file
slang=slang.split('\n')
slang

['afaik=as far as i know',
 'afk=away from keyboard',
 'asap=as soon as possible',
 'atk=at the keyboard',
 'atm=at the moment',
 'a3=anytime, anywhere, anyplace',
 'bak=back at keyboard',
 'bbl=be back later',
 'bbs=be back soon',
 'bfn=bye for now',
 'b4n=bye for now',
 'brb=be right back',
 'brt=be right there',
 'btw=by the way',
 'b4=before',
 'b4n=bye for now',
 'cu=see you',
 'cul8r=see you later',
 'cya=see you',
 'faq=frequently asked questions',
 'fc=fingers crossed',
 "fwiw=for what it's worth",
 'fyi=for your information',
 'gal=get a life',
 'gg=good game',
 'gn=good night',
 'gmta=great minds think alike',
 'gr8=great!',
 'g9=genius',
 'ic=i see',
 'icq=i seek you (also a chat program)',
 'ilu=ilu: i love you',
 'imho=in my honest/humble opinion',
 'imo=in my opinion',
 'iow=in other words',
 'irl=in real life',
 'kiss=keep it simple, stupid',
 'ldr=long distance relationship',
 'lmao=laugh my a.. off',
 'lol=laughing out loud',
 'ltns=long time no see',
 'luv=love',
 'l8r=later',
 'mte=my thoughts exactly',
 'm8=mate',
 'nrn=no reply necessary',
 'oic=oh i see',
 'pita=pain in the a..',
 'prt=party',
 'prw=parents are watching',
 'qpsa?\tque pasa?',
 'rofl=rolling on the floor laughing',
 'roflol=rolling on the floor laughing out loud',
 'rotflmao=rolling on the floor laughing my a.. off',
 'sk8=skate',
 'stats=your sex and age',
 'asl=age, sex, location',
 'thx=thank you',
 'ttfn=ta-ta for now!',
 'ttyl=talk to you later',
 'u=you',
 'u2=you too',
 'u4e=yours for ever',
 'wb=welcome back',
 'wtf=what the f...',
 'wtg=way to go!',
 'wuf=where are you from?',
 'w8=wait...',
 '7k=sick:-d laugher']

In [8]:
# creating dictionary from slang (which is list)
Slang_dict=dict()
for line in slang:
    temp=line.split("=")
    Slang_dict[temp[0]] = temp[-1]
Slang_dict

{'afaik': 'as far as i know',
 'afk': 'away from keyboard',
 'asap': 'as soon as possible',
 'atk': 'at the keyboard',
 'atm': 'at the moment',
 'a3': 'anytime, anywhere, anyplace',
 'bak': 'back at keyboard',
 'bbl': 'be back later',
 'bbs': 'be back soon',
 'bfn': 'bye for now',
 'b4n': 'bye for now',
 'brb': 'be right back',
 'brt': 'be right there',
 'btw': 'by the way',
 'b4': 'before',
 'cu': 'see you',
 'cul8r': 'see you later',
 'cya': 'see you',
 'faq': 'frequently asked questions',
 'fc': 'fingers crossed',
 'fwiw': "for what it's worth",
 'fyi': 'for your information',
 'gal': 'get a life',
 'gg': 'good game',
 'gn': 'good night',
 'gmta': 'great minds think alike',
 'gr8': 'great!',
 'g9': 'genius',
 'ic': 'i see',
 'icq': 'i seek you (also a chat program)',
 'ilu': 'ilu: i love you',
 'imho': 'in my honest/humble opinion',
 'imo': 'in my opinion',
 'iow': 'in other words',
 'irl': 'in real life',
 'kiss': 'keep it simple, stupid',
 'ldr': 'long distance relationship',
 'lmao': 'laugh my a.. off',
 'lol': 'laughing out loud',
 'ltns': 'long time no see',
 'luv': 'love',
 'l8r': 'later',
 'mte': 'my thoughts exactly',
 'm8': 'mate',
 'nrn': 'no reply necessary',
 'oic': 'oh i see',
 'pita': 'pain in the a..',
 'prt': 'party',
 'prw': 'parents are watching',
 'qpsa?\tque pasa?': 'qpsa?\tque pasa?',
 'rofl': 'rolling on the floor laughing',
 'roflol': 'rolling on the floor laughing out loud',
 'rotflmao': 'rolling on the floor laughing my a.. off',
 'sk8': 'skate',
 'stats': 'your sex and age',
 'asl': 'age, sex, location',
 'thx': 'thank you',
 'ttfn': 'ta-ta for now!',
 'ttyl': 'talk to you later',
 'u': 'you',
 'u2': 'you too',
 'u4e': 'yours for ever',
 'wb': 'welcome back',
 'wtf': 'what the f...',
 'wtg': 'way to go!',
 'wuf': 'where are you from?',
 'w8': 'wait...',
 '7k': 'sick:-d laugher'}

In [9]:
for key,value in Slang_dict.items():
    if key in text:
        text=text.replace(key,value)
text

'this reativly new temple is a big hindyou version of disney land qyouite expensive entrance for a temple i accept the religioyous dress code so i was not alowed to enter in shorts i had to rent an indian lyounghi male long dress the gyouards was not polite almost younfriendly one lady gyouard was aboyout to destroy my expensive camera wi seeh i had to leave oyoutside inside the temple it was to follow the marked way somwhere yoyou was blessed by some holy man byout everywhere there was stands with different things for sale worst was the way oyout with an enormoyous market with holy soyouvenirs of different qyouality most kitscy plasti see things made in china the holy experience i had looked forward to have dissapeared in a commercial thing all they wanted was my money '

In [10]:
# adding into list of slang
slang.append('ur = you are')
slang[-10:]

['u=you',
 'u2=you too',
 'u4e=yours for ever',
 'wb=welcome back',
 'wtf=what the f...',
 'wtg=way to go!',
 'wuf=where are you from?',
 'w8=wait...',
 '7k=sick:-d laugher',
 'ur = you are']

# Tokenization

In [11]:
text = word_tokenize(text)
text

['this',
 'reativly',
 'new',
 'temple',
 'is',
 'a',
 'big',
 'hindyou',
 'version',
 'of',
 'disney',
 'land',
 'qyouite',
 'expensive',
 'entrance',
 'for',
 'a',
 'temple',
 'i',
 'accept',
 'the',
 'religioyous',
 'dress',
 'code',
 'so',
 'i',
 'was',
 'not',
 'alowed',
 'to',
 'enter',
 'in',
 'shorts',
 'i',
 'had',
 'to',
 'rent',
 'an',
 'indian',
 'lyounghi',
 'male',
 'long',
 'dress',
 'the',
 'gyouards',
 'was',
 'not',
 'polite',
 'almost',
 'younfriendly',
 'one',
 'lady',
 'gyouard',
 'was',
 'aboyout',
 'to',
 'destroy',
 'my',
 'expensive',
 'camera',
 'wi',
 'seeh',
 'i',
 'had',
 'to',
 'leave',
 'oyoutside',
 'inside',
 'the',
 'temple',
 'it',
 'was',
 'to',
 'follow',
 'the',
 'marked',
 'way',
 'somwhere',
 'yoyou',
 'was',
 'blessed',
 'by',
 'some',
 'holy',
 'man',
 'byout',
 'everywhere',
 'there',
 'was',
 'stands',
 'with',
 'different',
 'things',
 'for',
 'sale',
 'worst',
 'was',
 'the',
 'way',
 'oyout',
 'with',
 'an',
 'enormoyous',
 'market',
 'with',
 'holy',
 'soyouvenirs',
 'of',
 'different',
 'qyouality',
 'most',
 'kitscy',
 'plasti',
 'see',
 'things',
 'made',
 'in',
 'china',
 'the',
 'holy',
 'experience',
 'i',
 'had',
 'looked',
 'forward',
 'to',
 'have',
 'dissapeared',
 'in',
 'a',
 'commercial',
 'thing',
 'all',
 'they',
 'wanted',
 'was',
 'my',
 'money']

# Remove stop words

In [12]:
# Import stopwords with nltk.
stop = stopwords.words('english')
print(stop)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [13]:
text = [word for word in text if word not in stopwords.words('english')]
text

['reativly',
 'new',
 'temple',
 'big',
 'hindyou',
 'version',
 'disney',
 'land',
 'qyouite',
 'expensive',
 'entrance',
 'temple',
 'accept',
 'religioyous',
 'dress',
 'code',
 'alowed',
 'enter',
 'shorts',
 'rent',
 'indian',
 'lyounghi',
 'male',
 'long',
 'dress',
 'gyouards',
 'polite',
 'almost',
 'younfriendly',
 'one',
 'lady',
 'gyouard',
 'aboyout',
 'destroy',
 'expensive',
 'camera',
 'wi',
 'seeh',
 'leave',
 'oyoutside',
 'inside',
 'temple',
 'follow',
 'marked',
 'way',
 'somwhere',
 'yoyou',
 'blessed',
 'holy',
 'man',
 'byout',
 'everywhere',
 'stands',
 'different',
 'things',
 'sale',
 'worst',
 'way',
 'oyout',
 'enormoyous',
 'market',
 'holy',
 'soyouvenirs',
 'different',
 'qyouality',
 'kitscy',
 'plasti',
 'see',
 'things',
 'made',
 'china',
 'holy',
 'experience',
 'looked',
 'forward',
 'dissapeared',
 'commercial',
 'thing',
 'wanted',
 'money']

In [14]:
lmtzr = WordNetLemmatizer()

text = ' '.join([lmtzr.lemmatize(word) for word in text])
text

'reativly new temple big hindyou version disney land qyouite expensive entrance temple accept religioyous dress code alowed enter short rent indian lyounghi male long dress gyouards polite almost younfriendly one lady gyouard aboyout destroy expensive camera wi seeh leave oyoutside inside temple follow marked way somwhere yoyou blessed holy man byout everywhere stand different thing sale worst way oyout enormoyous market holy soyouvenirs different qyouality kitscy plasti see thing made china holy experience looked forward dissapeared commercial thing wanted money'

# BOW - Unigram

In [15]:
text2 = 'I went sightseeing in three people. Wide in unexpectedly, it is the most deep atmosphere in the way of local. Worship barefoot. People of shorts will visit dressed in cloth (rental). Yes Snack Corner, ants and souvenirs, is there a buffet restaurant, it has to some extent touristy, is only less expensive that the local-friendly, is heterogeneous. Worship time will take quite. Severe in 1 hour.'
word_vectorizer = CountVectorizer(ngram_range=(1,1), analyzer='word')
sparse_matrix = word_vectorizer.fit_transform([text,text2])
df = pd.DataFrame(sparse_matrix.toarray())
df.columns = word_vectorizer.get_feature_names()
df.head()

C:\Users\Vahid\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,aboyout,accept,almost,alowed,and,ants,atmosphere,barefoot,big,blessed,...,way,went,wi,wide,will,worship,worst,yes,younfriendly,yoyou
0,1,1,1,1,0,0,0,0,1,1,...,2,0,1,0,0,0,1,0,1,1
1,0,0,0,0,1,1,1,1,0,0,...,1,1,0,1,2,2,0,1,0,0

In [16]:
frequencies = sum(sparse_matrix).toarray()[0]
words_count = pd.DataFrame(frequencies, index=word_vectorizer.get_feature_names(), columns=['frequency'])
words_count.sort_values(by='frequency',inplace=True,ascending=False)
words_count.head()

C:\Users\Vahid\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

       frequency
in             5
is             4
way            3
thing          3
the            3

# BOW - Biagram

In [17]:
word_vectorizer = CountVectorizer(ngram_range=(2,2), analyzer='word')
sparse_matrix = word_vectorizer.fit_transform([text,text2])
df = pd.DataFrame(sparse_matrix.toarray())
df.columns = word_vectorizer.get_feature_names()
df.head()

C:\Users\Vahid\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,aboyout destroy,accept religioyous,almost younfriendly,alowed enter,and souvenirs,ants and,atmosphere in,barefoot people,big hindyou,blessed holy,...,wi seeh,wide in,will take,will visit,worship barefoot,worship time,worst way,yes snack,younfriendly one,yoyou blessed
0,1,1,1,1,0,0,0,0,1,1,...,1,0,0,0,0,0,1,0,1,1
1,0,0,0,0,1,1,1,1,0,0,...,0,1,1,1,1,1,0,1,0,0

In [18]:
frequencies = sum(sparse_matrix).toarray()[0]
words_count = pd.DataFrame(frequencies, index=word_vectorizer.get_feature_names(), columns=['frequency'])
words_count.sort_values(by='frequency',inplace=True,ascending=False)
words_count.head()

C:\Users\Vahid\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

                   frequency
aboyout destroy            1
seeh leave                 1
religioyous dress          1
rent indian                1
rental yes                 1

# TF - IDF:

In [19]:
v = TfidfVectorizer()
sparse_matrix_tfidf = v.fit_transform([text,text2])
pd.DataFrame(sparse_matrix_tfidf.toarray(), columns=v.get_feature_names())

C:\Users\Vahid\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,aboyout,accept,almost,alowed,and,ants,atmosphere,barefoot,big,blessed,...,way,went,wi,wide,will,worship,worst,yes,younfriendly,yoyou
0,0.098991,0.098991,0.098991,0.098991,0.000000,0.000000,0.000000,0.000000,0.098991,0.098991,...,0.140865,0.000000,0.098991,0.000000,0.000000,0.000000,0.098991,0.000000,0.098991,0.098991
1,0.000000,0.000000,0.000000,0.000000,0.094067,0.094067,0.094067,0.094067,0.000000,0.000000,...,0.066929,0.094067,0.000000,0.094067,0.188134,0.188134,0.000000,0.094067,0.000000,0.000000

In [20]:
tfidf_weight = sum(sparse_matrix_tfidf).toarray()[0]

words_tfidf = pd.DataFrame(tfidf_weight, index=v.get_feature_names(), columns=['TF-IDF Weight'])
words_tfidf.sort_values(by='TF-IDF Weight',inplace=True,ascending=False)
words_tfidf

C:\Users\Vahid\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

           TF-IDF Weight
in              0.470334
is              0.376268
holy            0.296972
temple          0.296972
thing           0.296972
...                  ...
some            0.094067
has             0.094067
souvenirs       0.094067
cloth           0.094067
less            0.094067

[117 rows x 1 columns]

# Chi-Squre Test

In [21]:
word_vectorizer = CountVectorizer(ngram_range=(1,1), analyzer='word')
sparse_matrix = word_vectorizer.fit_transform([text,text2])
X = np.where(sparse_matrix.toarray()>=1,1,0)
X_chs = pd.DataFrame(data = X ,columns=word_vectorizer.get_feature_names_out())
X_chs['feedback']=['positive','negative']
X_chs.head()

,aboyout,accept,almost,alowed,and,ants,atmosphere,barefoot,big,blessed,...,went,wi,wide,will,worship,worst,yes,younfriendly,yoyou,feedback
0,1,1,1,1,0,0,0,0,1,1,...,0,1,0,0,0,1,0,1,1,positive
1,0,0,0,0,1,1,1,1,0,0,...,1,0,1,1,1,0,1,0,0,negative

In [22]:
y = X_chs['feedback']

In [23]:
crosstab, test_results, expected = rp.crosstab(X_chs['big'].astype(object), 
                                               y,
                                               test= "chi-square",
                                               expected_freqs= True)

In [24]:
crosstab

         feedback
feedback negative positive All
big
0               1        0   1
1               0        1   1
All             1        1   2

In [25]:
expected

         feedback
feedback negative positive
big
0             0.5      0.5
1             0.5      0.5

In [26]:
test_results

                Chi-square test  results
0  Pearson Chi-square ( 1.0) =    2.0000
1                    p-value =    0.1573
2               Cramer's phi =    1.0000